@font-face {
  font-family: loveAndStars;
  src: url(../public/Fonts/STARS&LOVE-BOTTOMHEAVY.TTF);
}
@font-face {
  font-family: brassika;
  src: url(../public/Fonts/BRASIKA-DISPLAY.OTF);
}

body{
  margin: 0;
  padding-top: 100px;
}
.custom-shape-divider-top-1659224291 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1659224291 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.custom-shape-divider-top-1659224291 .shape-fill {
  fill: #e4c3e2;
}